<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>About Me</h1>
    <div class="about-container">
      <p class="about-title">
        Hi I'm Virgil, A Fullstack Web Developer from Nigeria. I love learning
        about web technologies and building products.
      </p>
      <p class="back"><a href="/">Return To Homepage</a><br /></p>
    </div>
  </body>
</html>
